body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #eef9bf;
}

.Container {
    width: 80%;
    display: flex;
    flex-direction: column;
    display: flex;
    margin: auto;
}

p {
    display: inline;
}

.Title {
    width: 100%;
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin: 40px auto 45px auto;
    text-align: center;
}

.GameGrid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    position: relative;
    
    width: 117px;
    height: 146px;
    margin: 10px 10px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;

}

.Face{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Parrot {
    width: 90px;
}

.img_Verse{
    width: 90px;
    position: absolute;
    opacity: 0;
    transform: rotateY(180deg);
}

.Card.Show_Verse .img_Verse{
    opacity: 1;
    transform: rotateY(-180deg);
}

.Card.Show_Verse .Parrot{
    display: none;
    transform: rotateY(0deg);
}

@media(max-width:376px) {

    .Container {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #eef9bf;
        flex-direction: column;
    }

    .Title {
        font-size: 36px;
    }

    .GameGrid {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 40px auto 0 auto;
        padding: 0;
    }
}

